<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="CarService_Osipov_420Entities1" connectionString="metadata=res://*/Database.Model3.csdl|res://*/Database.Model3.ssdl|res://*/Database.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E0EE15T;initial catalog=CarService_Osipov_420;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>